@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

@font-face {
	font-family: 'DroidSerif-Bold';
	src: url(../fonts/droidserif-bold.ttf);
}


* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
	color: $text-color;
}
p {
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;

	&.section-description {
		max-width: 700px;
		margin: auto;
	}
}
button {
	height: 50px;
	padding: 0 50px;
	color: $background-grey;
	font-size: 15px;
	line-height: 38px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: $pink;
	border: none;
	border-radius: 25px;
	transition-duration: 0.3s;
	outline: none;
	cursor: pointer;
	&:hover {
		transform: scale(1.1);
	}
}
.underline {
	content: "";
	display: block;
	background-color: $pink;
	height: 2px;
	width: 195px;
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translateX(-50%);
}
header {
	width: 100%;
	min-height: 800px;
	color: $background-grey;
	background-image: url(../images/background-image.png);
	background-position: 50% 0%;
	background-repeat: no-repeat;
	position: relative;

	nav {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		.logo {
			cursor: pointer;
			.logo-graphic {
				display: inline-block;
				color: $pink;
				font-weight: bold;
				font-size: 25px;
			}
			.brand-name {
				display: inline-block;
				font-weight: bold;
				font-size: 25px;
			}
		}
		.hamburger {
			display: none;
			background: transparent;
			width: 20px;
			height: 19px;
			border-top: 3px solid #fff;
			position: relative;
			&::before, &::after {
				display: block;
				content: "";
				width: 20px;
				height: 3px;
				background-color: #fff;
				position: absolute;
				top: 0;
				left: 0;
				transform: translateY(5px);
			}
			&::after {
				transform: translateY(13px);
			}
		}
		.menu {
			ul li {
				display: inline-block;
				list-type-style: none;
				padding: 0 10px;
				&:hover a {
					color: $pink;
				}
				a {
					text-decoration: none;
					font-size: 16px;
					line-height: 38px;
					color: #fff;
					font-weight: bold;
					text-transform: capitalize;
				}
			}
		}
	}
	.jumbotron {
		text-align: center;
		h1 {
			margin-top: 210px;
			margin-bottom: 80px;
			font-size: 46px;
			text-transform: uppercase;
			font-weight: 300;
			position: relative;

			span {
				font-weight: 900;
			}
			&::after {
				@extend .underline;
			}
		}
		p {
			font-size: 22px;
			line-height: 38px;
			font-weight: 300;
		}
		button {
			margin-top: 70px;
			margin-bottom: 70px;
		}
	}
	&::after {
		display: block;
		content: "";
		width: 0;
		height: 0;
		border-top: 4vw solid $pink;
		border-right: 100vw solid transparent;
		position: absolute;
		top: 100%;
	}
}
section {
	text-align: center;
}
.section-title {
	font-weight: 300;
	font-style: italic;
	font-size: 38px;
	line-height: 52px;
	text-transform: capitalize;
	padding-top: 150px;
	margin-top: 0;
	margin-bottom: 90px;
	position: relative;
	&::after {
		@extend .underline;
	}
}
.about {
	background-color: $background-grey;
	padding-bottom: 80px;
	max-height: 680px;

	.text-wrapper {
		float: left;
	}
	.section-title {
		text-transform: none;
	}
	a {
		text-decoration: none;

		.video-link-wrapper {
			display: inline-flex;
			align-items: center;
			margin-top: 40px;
			p {
				font-size: 15px;
				text-transform: uppercase;
				color: $pink;
				font-weight: 500;
			}
			i.fas {
				height: 28px;
				width: 28px;
				color: $pink;
				font-size: 20px;
				line-height: 26px;
				text-align: center;
				border: 1px solid $pink;
				border-radius: 50%;
				margin-left: 10px;
			}
		}
	}
	.image-box {
		padding-top: 130px;
		overflow-x: hidden;
		overflow-y: hidden;
		position: relative;
		transform: translateY(40px);

		img.image-1 {
			z-index: 1;
		}
		img.image-2 {
			z-index: 2;
			position: absolute;
			top: 160px;
			left: 120px;
		}
		img.image-3 {
			position: absolute;
			bottom: -41px;
			left: 0;
		}
	}
}
.small-title {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
}
.services {
	padding-bottom: 110px;
	.icon-wrapper {
		margin: 80px auto;
		margin-bottom: 30px;
		width: 135px;
		height: 135px;
		border-radius: 50%;
		border: 2px solid #d4d4d4;
		position: relative;
		cursor: pointer;
		transition: .3s;
		&:hover {
			border: 2px solid $pink;
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.small-title {
		color: $pink;
	}
}
.quotes {
	background-image: url(../images/background-image.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% -20%;
	min-height: 600px;
	padding-top: 80px;
	padding-bottom: 160px;

	.quotes-container {
		position: relative;
		.btn-previous, .btn-next {
			background: transparent;
			padding: 10px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			i.fas {
				font-size: 36px;
				color: grey;
			}
		}
		.btn-previous {
			left: 0;
			margin-right: 10px;
		}
		.btn-next {
			right: 0;
			margin-left: 10px;
		}
		.quotation-marks {
			font-family: 'DroidSerif-Bold';
			font-size: 158px;
			line-height: 52px;
			color: $pink;
			margin: 0;
			&.up {
				margin-top: 100px;
				transform: rotate(180deg);
			}
		}
		.quotes-text {
			font-size: 25px;
			line-height: 40px;
			font-weight: 300;
			font-style: italic;
			color: #fff;
			margin: 0 auto;
			width: 80%;
			display: none;

			&.second {
				font-size: 36px;
				line-height: 50px;
			}
			&.third {
				font-size: 42px;
				line-height: 50px;
			}
			&.active {
				display: block;
			}
		}
	}



}
.our-prices {
	padding-bottom: 140px;
	background-color: $background-grey;
	.price-box-wrapper {
		margin: 15px;
		margin-top: 90px;
		position: relative;
		&:hover .price-wrapper {
			background-color: $pink;
		}
		.price-wrapper {
			background-color: $text-color;
			padding-top: 35px;
			padding-bottom: 45px;
			.price {
				font-size: 15px;
				font-weight: 700;
				line-height: 38px;
				color: $background-grey;
				span {
					font-size: 50px;
					&.dollar {
						font-size: 20px;
					}
				}
			}
		}
		.offert-name {
			height: 50px;
			width: 200px;
			font-weight: bold;
			line-height: 50px;
			text-transform: uppercase;
			background-color: $background-grey;
			border-radius: 25px;
			position: absolute;
			top: 174px;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			align-items: center;
			p {
				margin: auto;
			}

		}
		.price-list-wrapper {
			padding-top: 45px;
			background-color: #fff;
			ul {
				list-style-type: none;
				padding: 0;
				li {
					font-size: 15px;
					font-weight: 300;
					line-height: 38px;
					color: $text-color;
				}
			}
		}
		button {
			width: 200px;
			margin-top: 20px;
			margin-bottom: 40px;
		}
	}
}
.additional-info-1 {
	padding-top: 130px;
	padding-bottom: 80px;
	.info-wrapper {
		display: flex;
		max-width: 500px;
		margin: 40px 15px;
		.icon-wrapper {
			padding-right: 30px;
			padding-left: 15px;
		}
		.info {
			text-align: left;
			.small-title {
				margin-top: 0;
				color: $pink;
			}
		}
	}
}
.join-us {
	background-color: $pink;
	.join-us-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 75px 15px;
		h1 {
			display: inline-block;
			text-transform: uppercase;
			color: #fff;
			font-size: 38px;
			line-height: 52px;
			font-weight: 300;
			span {
				font-weight: 700;
			}
		}
		button {
			background-color: #fff;
			color: $pink;
			margin-left: 45px;
			width: 170px;
		}
	}
}
.gallery {
	padding-bottom: 60px;
	.section-description {
		margin-bottom: 50px;
	}
	.gallery-item {
		margin: 30px 15px;
		background-color: $background-grey;
		cursor: pointer;
		.photo-wrapper {
			position: relative;

			.decoration {
				width: 0;
				height: 0;
				border-bottom: 20px solid $pink;
				border-right: solid transparent;
				position: absolute;
				bottom: 0;
			}
			img.photo {
				height: 100%;
				width: 100%;
				display: block;
			}
			.layer {
				width: 100%;
				height: 100%;
				background-color: rgba(237, 20, 91, 0.7);
				position: absolute;
				top: 0;
				left: 0;
				display: none;
				img.photo-icon {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		&:hover .layer {
			display: block;
		}
		&:hover .decoration {
			display: none;
		}
		.photo-description {
			padding: 30px 15px;
			text-align: left;
		}
	}
	.show-more {
		cursor: pointer;
		margin-top: 80px;
		display: inline-block;
		p {
			font-size: 15px;
			text-transform: uppercase;
			color: $pink;
			font-weight: 700;
			margin-bottom: 0;
		}
	}
}
.additional-info-2 {
	background-image: url(../images/background-image.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% -20%;
	color: #fff;
	button {
		margin-top: 60px;
		margin-bottom: 150px;
	}
}
.download {
	background-color: $background-grey;
	.image-box {
		position: relative;
		img {
			position: absolute;
			top: 80px;
			right: 15px;
			border-radius: 5px;
			box-shadow: 2px 2px 10px;
		}
	}
	.text-wrapper {
		padding-left: 50px;
		button {
			margin-top: 60px;
			margin-bottom: 160px;
		}
	}
}
footer {
	background-color: #2b2b2b;
	padding: 50px 15px;
	text-align: center;
	.footer-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		p {
			text-transform: uppercase;
			color: #fff;
			font-size: 15px;
			font-weight: 400;
		}
		.design-by {
			display: flex;
			align-items: center;
			p {
			font-size: 16px;
			margin-right: 8px;
			}
		}
	}
}
/* MODAL */

.overlay {
	width: 100%;
	height: 100%;
	padding: 15px;
	padding-top: 220px;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	&.hide-modal {
		display: none;
	}

	.modal {
		max-width: 1100px;
		margin: auto;
		position: relative;
		background-color: #fff;
		padding: 230px 90px 70px 90px;
		text-align: center;
		border-radius: 5px;
		font-family: 'Montserrat', sans-serif;

		.logo-wrapper {
			width: 370px;
			height: 370px;
			border-radius: 50%;
			background-color: #fff;
			box-shadow: 2px 2px 10px $modal-grey;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		h1 {
			font-size: 48px;
			color: $pink;
			font-weight: bold;
		}
		p {
			font-size: 24px;
			color: $modal-grey;
		}
		button {
			height: auto;
			font-size: 24px;
			padding: 20px 60px;
			border-radius: 5px;
			text-transform: none;
		}
	}
}

@media (max-width: 1099px) {
	.additional-info-1 .info-wrapper {
		margin: 40px auto;
	}
	.join-us .join-us-wrapper {
		flex-wrap: wrap;
		button {
			margin-left: 0;
		}
	}
}
@media (max-width: 991px) {
	header {
		min-height: 700px;
		background-size: cover;
		nav {
			flex-direction: column;
			align-items: flex-start;
			.mobile-topbar {
				padding-left: 40px;
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.hamburger {
				display: block;
				margin-right: 10px;
			}
			.menu {
				display: none;
				ul li {
					display: block;
					padding-left: 0;
				}
				&.show-menu {
					display: block;
				}
			}
		}
		.jumbotron h1 {
			margin-top: 80px;
		}
	}
	.section-title {
		padding-top: 100px;
	}
	.about {
		max-height: none;
		.text-wrapper {
			float: none;
		}
		.image-box {
			display: none;
		}
	}
	.additional-info-1 {
		padding-top: 100px;
	}
	.gallery .show-more {
		margin-top: 40px;
	}
	.additional-info-2 button {
		margin-bottom: 100px;
	}
	.download {
		.image-box {
			display: none;
		}
		.text-wrapper {
			padding-left: 0;
			button {
				margin-bottom: 100px;
			}
		}
	}
	.footer-wrapper {
		flex-direction: column;
	}
}

@media (max-width: 767px) {
	.overlay {
		padding-top: 140px;
		.modal {
			padding: 130px 20px 40px 20px;
			.logo-wrapper{
				height: 230px;
				width: 230px;
				img {
					height: 170px;
				}
			}
			h1 {
				font-size: 24px;
			}
			p {
				font-size: 14px;
			}
			button {
				padding: 10px 20px;
			}
		}
	}
}

@media (min-width: 992px) {
	.about, .download {
		text-align: left;
		.section-title {
			&::after {
				left: 0;
				transform: none;
			}
		}
	}
}
